torch==1.13.1
torchvision==0.14.1

einops
matplotlib 
scikit-learn 
scikit-image 
opencv-python 
yacs 
joblib 
natsort 
h5py 
tqdm 
einops 
gdown
addict 
future 
lmdb 
numpy 
pyyaml 
requests 
scipy 
tb-nightly 
yapf 
lpips 
openai-clip 
wandb 
pandas